<div class="block-footer-text {{ component_class }} {% if layout %}col-md-{{ layout }}{% endif %}">
  <div class="block--inner">
    <h2 class="block-title">{{ footer_title }}</h2>
    <div class="block--content">{{ footer_text_body }}</div>
  </div>
</div>