{% block header %}
  <header id="header" class="header">
    <div class="header-wrapper">
      <div class="header-top">
        <div class="container">
          {% include 'block-user.twig' %}
        </div>
      </div>

      <div id="header-navigation" class="header--navigation">
        <div class="container">
          <div class="header-logo">
            <a href="{{ site.url }}" class="logo">
              <img alt="{{ site.name }}" src="{{ site_logo }}" alt="{{ site.name }}">
            </a>
          </div>

          {% block navigation %}
            <div class="block-navigation">{% include 'navigation.twig' %}</div>
          {% endblock %}
        </div>

        {#% if global_ppl %}
        {% include 'custom-ppl.twig' %}
        {% endif %#}
      </div>
    </div>
  </header>
{% endblock %}
