{% extends 'layout.twig' %}

{% block content %}
  {% for post in posts %}
    {% if post.content %}
    <div class="block-content__body">{{ post.content|shortcodes }}</div>
    {% endif %}

    {{ function('flexible_content', 'group_component') }}
  {% endfor %}

  {#% if function('comments_open') %}
  {% include 'comments.twig' %}
  {{ function('comment_form') }}
  {% endif %#}

{% endblock %}
