{% extends 'layout.twig' %}

{% block content %}
  <h1 id="page-title">{{term.name}}</h1>
  {% include ["taxonomy-"~term.id~".twig", "taxonomy-"~term.taxonomy~".twig", 'taxonomy-tease.twig'] %}
{% endblock %}
